// FONT FAMILY
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Libre Baskerville', serif;
$font-tertiary: 'Poor Story', cursive;

// COLOR
$color-primary-light: #304771;
$color-primary: #283c61;
$color-secondary: #ad7f62;

//TEXT COLOR
$color-white: #fff;
$color-black: #353535;

$color-grey-light-1: #cccccc;