.nav-top {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;

  &__phone {
    fill: $color-secondary;
  }
  &__call {
    display: flex;
    gap: 2rem;
    margin-left: 1rem;
    color: $color-white;

    &--number {
      display: flex;
      align-items: center;
      gap: .7rem;

      & > span {
        color: $color-white;
        text-decoration: none;
      }
    }

    @include responsive(tab-port) {
      flex-direction: column;
      gap: .4rem;
    }
    @include responsive(phone) {
      flex-direction: row;
      gap: .8rem;
    }
  }

  &__consult {
    padding: .7rem 1.5rem;
    background-color: $color-secondary;
    color: #fff;
    text-align: center;
    cursor: pointer;
    @include grid-center;

    @include responsive(phone) {
     display: none;
    }

    &:hover {
      background-color: rgba($color-secondary, .97);
    }
    @include responsive(tab-port) {
     align-self: stretch;
    }
  }
}

.navigation {
  padding: 1rem .5rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-bottom: 1px solid rgb(187, 184, 184);

  &__list {
    justify-self: end;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, minmax(5rem, 1fr));

    @media only screen and (max-width: 56.25em) {
      display: none;
    }
  }

  &__items {
    text-align: center;
    align-self: stretch;
  }

  &__links {
    text-decoration: none;
    color: $color-white;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
  }

  &-btn {
    justify-self: end;
    display: none;
    
    @media only screen and (max-width: 56.25em) {
      display: block;
      fill: $color-secondary;
      cursor: pointer;
      transition: all .2s;

      &:hover {
        transform: rotate(180deg);
      }
    }
  }
}


.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  z-index: 9999;

  background-color: $color-primary;
  padding: 3rem;

  transition: all .2s;
  transition-duration: 1s;
  transition-timing-function: ease-out;


  @include responsive(phone) {
    width: 70vw;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__links {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bolder;
      color: $color-white;
      transition: color .2s;
    }

    &:hover {
      color: $color-secondary;
    }
  }

  &__close {
    
    align-self: flex-end;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    opacity: .8;

    .close {
      fill: $color-white;

      &:hover {
        fill: $color-secondary;
      }
    }
  }
}

.icon {
  height: 2rem;
  width: 2rem;

  cursor: pointer;

  &-big {
    height: 4.5rem;
    width: 4.5rem;
    cursor: pointer;
  }
}