.mg-b-sm { margin-bottom: 1rem !important; }
.mg-b-big { margin-bottom: 2rem !important; }
.mg-b-lg { margin-bottom: 3rem !important; }
.mg-b-xlg { margin-bottom: 4rem !important; }

.inline-bk { display: inline-block !important; }
.d-block { display: block !important; }
.center { text-align: center !important; }

.paragraph {
  font-size: 2rem;
  text-align: justify;
  -ms-hyphens: auto;
  hyphens: auto;
}

.grid-center {
  display: grid;
  place-items: center;
}

.flex-col {
  flex-direction: column !important;
}


.body-copy {
  font-size: 1.6rem;
  @include responsive(tab-port) {
    font-size: 1.8rem;
  }
  &--small {
    font-size: 1.5rem;
    @include responsive(tab-port) {
    font-size: 1.67rem;
  }
  }

  &--smaller {
    font-size: 1.4rem;
    @include responsive(tab-port) {
    font-size: 1.56rem;
  }
  }

  &--big {
    font-size: 1.8rem;
    @include responsive(tab-port) {
    font-size: 2rem;
  }
  }

  &--large {
    font-size: 1.9rem;
    @include responsive(tab-port) {
    font-size: 2.1rem;
  }
  }
}

.translate-0 {
  transform: translateX(0);
}

.translate-x {
  transform: translateX(50rem);
}